<%- include('partials/header') %>

<h1>About</h1>

<button id="aboutBtn">Toon extra info</button>

<div id="extraInfo">
  <p>Dit is extra content 🎉</p>
</div>

<script src="/js/about.js"></script>

<%- include('partials/footer') %>
