body{
    padding: 1rem;
}

#extraInfo{
    height: 50px;
    width: 50px;
    background-color: red;
    display: none;
}

#extraInfo.show{
    display: block;
}

.reg-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;

    form{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}


footer{
    padding-top: 6rem;
    text-align: center;
}
